*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://fondosmil.com/fondo/57234.jpg);
}

h1,h2{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: aqua;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    margin-top: 2%;
    border-radius: 2vh;
    
}
.caja{
    width: 1800px;
    height: 880px;
    background-image: url(https://i.pinimg.com/originals/26/ed/fe/26edfe7476f61c0afa0ad92574065225.gif);
    background-size: cover;
    margin-left: 50px;
    border-radius: 2vh;
    box-shadow: 3px 3px 10px 10px rgb(249, 249, 249);
    
}

